

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #ffffff;
    flex-wrap: wrap;
}


.card-ja{
    position: relative;
    display:inline-block;
    width: 220px;
    height: 250px;
    background: #fae3ff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 1rem;
}


.card-ja:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card-ja .head-ja {
    height: 125px;
    width: 100%;
    position: relative;
}

.card-ja .head-ja .circle-ja {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e19aef;
    margin: 150px 10px;
    bottom: -100%;
}


.card-ja .head-ja .img-ja {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: -15px;
    
}



.card-ja .head-ja .img-ja img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
.card-ja .description-ja {
    height: 200px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card-ja .description-ja h3 {
    color: #05383a;
}

.card-ja .description-ja h4 {
    color: #7d047d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-ja .description-ja p {
    margin-top: 5px;
    font-size: 13px;
}


