.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #04001a;
    border-top: 10px solid orangered;
    border-bottom: 10px solid orangered;
}

.card-image {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: orangered;
}

.card-image img {
    text-align: center;
    margin: auto;
    width: 315px;
    height: 410px;
    border-radius: 10px;
}

.description {
    text-align: justify;
    font-size: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 65%;
    height: auto;
    padding: 10rem 5rem;
    padding-left: 8rem;
}

.description p {
    color: white;
}

.name {
    color: orangered;
}

.component {
    padding: 5rem 5rem;
    
}