
.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #ff8800;
}

.card-christo {
    /* border-radius: 10px; */
    /* border: solid 5px black; */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 10); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    /* overflow: hidden;
    margin: auto;
    max-width: 300px; */
    margin: auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* right: auto; */

}

.card-christo img {
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}

.information {
    /* background-color: blueviolet; */
    /* font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 55%;
    height: auto;
    padding: 10rem 5rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    background-color: aqua; */
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 50%;
    height: auto;
    padding-left: 10rem;
    padding: 5rem 5rem;
}
@media screen and (max-width: 768px) {
    .information {
      /* float: left; Flota el elemento a la derecha */
      width: 100%; /* Ocupa todo el ancho del contenedor */
      /* margin-top: 50px; Agrega un margen superior */
    }
  }

p {
    color: black;
}

span {
    font-size: larger;
    color: black;
}

.component {
    padding: 5rem 5rem;
    background-color: #ff8800;
}