.container-Fernando {
    margin: 1rem;
    border-color: black;
    border: solid;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #ffffff;
    flex-wrap: wrap;
}


.card-Fernando {
    position: relative;
    width: 320px;
    height: 300px;
    background: #fae3ff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 5px;
}


.card-Fernando:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card-Fernando .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card-Fernando .head .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e19aef;
    margin: 60px 10px;
    bottom: -100%;
}


.card-Fernando .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: -15px;

}



.card-Fernando .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.card-Fernando .description {
    height: 200px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card-Fernando .description h3 {
    color: #000000;
}

.card-Fernando .description h4 {
    color: #7d047d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-Fernando .description p {
    margin-top: 5px;
    font-size: 13px;
    color: #000000;
}

.container-Fernando {
    margin: 1rem;
    border-color: black;
    border: solid;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #ffffff;
    flex-wrap: wrap;
}


.card-Fernando {
    position: relative;
    width: 320px;
    height: 300px;
    background: #fae3ff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 5px;
}


.card-Fernando:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}

.card-Fernando .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card-Fernando .head .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e19aef;
    margin: 60px 10px;
    bottom: -100%;
}


.card-Fernando .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: -15px;

}



.card-Fernando .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.card-Fernando .description {
    height: 200px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card-Fernando .description h3 {
    color: #000000;
}

.card-Fernando .description h4 {
    color: #7d047d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-Fernando .description p {
    margin-top: 5px;
    font-size: 13px;
    color: #000000;
}

