* {

    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    

}

.card-mar img{
    background: #0dd8a5;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 45rem;
    margin-right: 6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;

}
.information-mar{
    background-color: #25b981;
    text-align: justify;
    font-size: 25px;
    color: (rgb(0, 0, 0)4, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto ;
    height: 50%;
    padding: 10rem 5rem;
    padding-left: 5rem;
}
.component-Mar {
    padding: 5rem 5rem;
    background-color: #6de9d4;
}
