* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.jcard-group {
    margin-bottom: 20px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
}

.jcard-title {
    color: orangered;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

.jtitle {
    font-size: 20px;
    text-align: center;
    color: orangered;
}

.jcard-text {
    text-align: center;
    color: black;
    font-weight: 600;

}

.jcard-img-top {
    height: 150px;
    margin-bottom: 20px;

}


.jcards {
    width: 450px;
    background-color: white;
    border: solid 20px white;
    margin: 25px;
    border-radius: 10px;
}

.jcard-body img {
    margin-bottom: 25px;
    width: 100%;
    height: 150px;
   
}

.jlinea {
    height: 4px;
    width: 100%;
    background-color: #04001a;
    margin-top: 5px;
    margin-bottom: 2em;
}

