.encabezado{
    background-color: #1A1C33;
    margin: auto 0;
  }
  .titulo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #fff;
  }
  .componente{
    padding: 0 3rem;
    padding-bottom: 2rem;
  }
  .texto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:white;
  }
  .parrafo{
    padding: 2rem 2rem;
    padding-left: 0;
    color: #fff;
  }
  .wrapper {
    width: 100%;
    background-color: #191c32;
    color: #fff;
  } 
  .main {
    margin: 0 auto;
    width: 80vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
  }
  
  h1 {
    font-size: 3em;
  }
  
  .info span {
    color: aqua;
  }
  
  
  .main img {
    border:  7px solid aqua;
    width: 250px;
    margin-left: 6rem;
  }
  
  .about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
  }
  
  .about img {
    width: 100%;
    grid-column: 1/5;
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }
  
  