
* {
    
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #ffffff;
    flex-wrap: wrap;
}


.card-j{
    position: relative;
    width: 100%;
    height: 250px;
    background: #4d035e;
    overflow: hidden;
}

.card-j .head-j {
    height: 125px;
    width: 100%;
    position: relative;
}


.card-j .head-j .img-j {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}



.card-j .head-j .img-j img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    bottom: 20%;
    
}
.card-j .description-j {
    height: 200px;
    width: 100%;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.card-j .description-j h3 {
    color: #ffffff;
}

.card-j .description-j h4 {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


span{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#00ff22;
}

.card-j .description-j p {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    font-size:small;
    
}


