.card-title{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    text-align: left;
}
.subtitulo{
text-align: center;
}
.card-text{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.card-img-top{
    height: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card{
    background-color: #1A1C33;;
    border:  solid 20px #1A1C33;
    border-radius: 0;
}
hr{
    border: solid 1px rgb(255, 255, 255); 
    width: 50%;
    margin: 0 25%;
}
.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}