.container-M {
    margin: 1rem;
    border-color: black;
    border: solid;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: #0a475a;
    flex-wrap: wrap;
}


.card-M {
    position: relative;
    width: 300px;
    height: 400px;
    background: #8294e2;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 5px;
}


.card-M:hover {
    box-shadow: 0 5px 15px rgba(42, 72, 73, 0.5);
    transform: translateY(-15px);
}

.card-M .head {
    height: 400px;
    width: 250%;
    position: relative;
}

.card-M .head .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #1e5bb6;
    margin: 60px 10px;
    bottom: -100%;
}


.card-M .head .img {
    width: 200px;
    height: 200px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: -15px;

}



.card-M .head .img  {
    width: 150%;
    height: 150%;
    border-radius: 50%;
    object-fit: cover;

}

.card-M .description {
    height: 20px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px rgba(5, 82, 85, 0.18);
    text-align: center;
}

.card-M .description h3 {
    color: #000000;
}

.card-M .description h4 {
    color: #109ea8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-M .description p {
    margin-top: 5px;
    font-size: 13px;
    color: #000000;
}
.description{
    color:#000000
}

